/* size */
.max {
    width: 100%;
    height: 100%;
}

/* display */
.center {display: flex; justify-content: center; align-items: center;}
.column {display: flex; flex-direction: column;}
.column_spacing {display: flex; flex-direction: column; justify-content: space-between}

.row {display: flex; }
.row_H_center {display: flex; justify-content: center;}

/* positions */
.absolute {position: absolute;}
.relative {position: relative;}