* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    user-select: none;
    list-style: none;
}

body {
    width: 100vw;
    width: 100dvw;
    height: 100vh;
    height: 100dvh;

    .landing {
        background-color: rgb(220, 220, 220);

        .wellcomeBox {
            width: 600px;
            height: 300px;
            border-radius: 16px;
            background-image: radial-gradient(rgba(255, 255, 255, 0.14) 1px, transparent 1px);
            background-size: 3px 3px;
            background-color: rgb(40, 40, 40);
        }
    }
}